.header {
  position: fixed;
  left: 10%;
  right: 10%;
  opacity: 0.90;
  background: #fff;
  height: 70px;
  z-index: 2;
  display: table-cell;
  vertical-align:bottom;
}

@media (max-width: 1220px) {
  .nameplate {
    display: none;
  }
}

@media (max-width: 875px) {
  .header {
    left: 0px;
    right: 0px;
  }
}

li {
  display: inline-block;
  margin-right: 5px;
  height: 100%;
}

.nameplate {
  float: left;
  height: 70px;
  width: 264px;
}

.menu {
  float: right;
  line-height: 70px;

}

.title-menu {
}
