.img-background {
  height: 900px;
  background-size: cover;
  position: relative;
  top: 70px;
  margin-left: 10%;
  margin-right: 10%;
}

.img {
  height: 135px;
  padding: 20px;
}

@media (max-width: 875px) {
  .img-background {
    margin: 0px;
    height: 300px;
  }
}
