.img-background {
  background-image: url(../img/intro.jpg);
  height: 900px;
  background-size: cover;
  position: relative;
  top: 70px;
  margin-left: 10%;
  margin-right: 10%;
}

@media (max-width: 875px) {
  .img-background {
    margin: 0px;
    height: 300px;
  }
}
